---
import Contactform from "@components/contactform.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Layout from "@layouts/Layout.astro";
import { Icon } from "astro-icon/components";
---
<head>
  <meta name="title" content="Northsouth - Soluzioni digitali a 360 gradi">
  <meta name="description" content="Northsouth offre soluzioni digitali complete e innovative per il successo del tuo business, dall'analisi strategica allo sviluppo tecnologico su misura.">
  <meta name="keywords" content="Soluzioni digitali,Innovazione tecnologica,Sviluppo software,Analisi strategica,Trasformazione digitale,Marketing digitale,Consulenza IT,E-commerce,Sviluppo web,Gestione progetti,UX/UI design,Digital strategy,Business digitale,Servizi IT,Tecnologia su misura">
  <meta name="robots" content="index, follow">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<Layout title="Contact">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Contattaci!</Fragment>
      <Fragment slot="desc">Per qualsiasi progetto, richiesta di informazioni.</Fragment>
    </Sectionhead>
    <div class="text-center">
      <div class="mt-5">
        <div class="mt-2 space-x-2 text-gray-600">
          <span>Northsouth UX SAGL | 6900 Lugano</span>
        </div><div class="mt-2 space-x-2 text-gray-600">
        </div><div class="mt-2 space-x-2 text-gray-600">
        </div>
      </div>
    </div>
    <div>
      <iframe
        title="Contact Form"
        src="https://plugins.crisp.chat/urn:crisp.im:contact-form:0/contact/727a3632-d1bc-44a3-9179-65f86310a145" referrerpolicy="origin"
        sandbox="allow-forms allow-popups allow-scripts allow-same-origin" width="100%"
        height="600px"
        frameborder="0">
      </iframe>
    </div>

    <div class="grid md:grid-cols-2 gap-10 mx-auto max-w-4xl mt-16">
      
    </div>
  </Container>
</Layout>
