---
import Container from "@components/container.astro";
import Casestudies from "@components/casestudies.astro";
import Features from "@components/features.astro";
import Hero from "@components/hero.astro";
import Logos from "@components/logos.astro";
import Layout from "@layouts/Layout.astro";
---
<div class="bg-indigo-600">
  <div class="max-w-screen-xl mx-auto px-5 py-3 text-white sm:text-left md:px56 text-md">
    <p class="font-medium">
      Con lo <span class="text-bold underline">spazio clienti</span> dedicato, sei tu a decidere il ritmo dei tuoi
      progetti. <a href="javascript:(0)"
                   class="font-semibold underline duration-150 hover:text-indigo-100 inline-flex items-center gap-x-1 ml-2">
      Scopri
      <!-- <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
          <path d="M5 10a.75.75 0 01.75-.75h6.638L10.23 7.29a.75.75 0 111.04-1.08l3.5 3.25a.75.75 0 010 1.08l-3.5 3.25a.75.75 0 11-1.04-1.08l2.158-1.96H5.75A.75.75 0 015 10z" />
      </svg> -->
    </a>
    </p>
  </div>
</div>
<Layout title="">
  <Container>
    <Hero />
    <Features />
    <Logos />
    <Casestudies />
  </Container>
</Layout>

<script type="text/javascript">window.$crisp = [];
window.CRISP_WEBSITE_ID = "727a3632-d1bc-44a3-9179-65f86310a145";
(function() {
  d = document;
  s = d.createElement("script");
  s.src = "https://client.crisp.chat/l.js";
  s.async = 1;
  d.getElementsByTagName("head")[0].appendChild(s);
})();</script>
