---
import Container from "@components/container.astro";
import Casestudies from "@components/casestudies.astro";
import Features from "../components/servizi.astro";
import Hero from "@components/hero.astro";
import Logos from "@components/logos.astro";
import Layout from "@layouts/Layout.astro";

const solutionServices = [
  "Web",
  "E-commerce",
  "Frontend Development",
  "Apps",
  "SPA",
  "CMS",
  "ERP",
  "Hybrid apps development",
  "Apple Store Publishing",
  "Play Store Publishing",
  "Visual Design",
  "Design Systems",
  "Brand Design",
  "Logo Design",
  "Programmatic Ads",
];
---

<html>
  <head>
    <meta name="title" content="Northsouth - Solutions" />
    <meta
      name="description"
      content="Northsouth offre soluzioni digitali complete e innovative per il successo del tuo business, dall'analisi strategica allo sviluppo tecnologico su misura."
    />
    <meta
      name="keywords"
      content="Soluzioni digitali,Innovazione tecnologica,Sviluppo software,Analisi strategica,Trasformazione digitale,Marketing digitale,Consulenza IT,E-commerce,Sviluppo web,Gestione progetti,UX/UI design,Digital strategy,Business digitale,Servizi IT,Tecnologia su misura"
    />
    <!-- OG Image -->
    <meta property="og:image" content="https://i.ibb.co/w71YW8G/OG-Image.png" />
    <meta name="robots" content="index, follow" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="language" content="English" />
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-JYJXYQEZ3Y"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];

      function gtag() {
        dataLayer.push(arguments);
      }

      gtag("js", new Date());
      gtag("config", "G-JYJXYQEZ3Y");
    </script>
  </head>
</html>
<Layout title="">
  <Container>
    <div class="grid grid-cols-2 gap-4">
      <div>
        <div class="text-left my-24">
          <h4
            class="mb-2 text-2xl font-bold tracking-tight text-black dark:text-white">
            Northsouth<span class="font-thin"> Solutions</span>
          </h4>
          <div class="mt-4">
            {
              solutionServices.map((item) => (
                <span class="inline-flex items-center rounded-md bg-blue-50 px-4 py-1 mb-2 mr-2 text-sm font-medium text-blue-700 ring-1 ring-inset ring-blue-700/10">
                  {item}
                </span>
              ))
            }
          </div>
          <p>
            Offriamo una vasta gamma di <b>servizi digitali</b> per aiutare la tua
            azienda a crescere.
          </p>
          <p>
            Dallo sviluppo di siti web e apps personalizzate, alla gestione di
            progetti di trasformazione digitale, al marketing digitale e alla
            consulenza IT, siamo qui per supportarti in ogni fase del tuo
            percorso digitale.
          </p>
          <p>
            Siamo appassionati di tecnologia e ci impegniamo a offrire soluzioni
            innovative e di alta qualità che soddisfino le tue esigenze
            specifiche.
          </p>
          <p>
            Contattaci oggi stesso per scoprire come possiamo aiutarti a
            raggiungere i tuoi obiettivi digitali.
          </p>
        </div>
      </div>
      <div class="text-left my-24">
        <h4
          class="mb-2 text-2xl font-bold tracking-tight text-black dark:text-white">
          <span class="font-thin">Raccontacti la tua storia</span>
        </h4>
        <iframe
          title="Contact Form"
          src="https://plugins.crisp.chat/urn:crisp.im:contact-form:0/contact/727a3632-d1bc-44a3-9179-65f86310a145"
          referrerpolicy="origin"
          sandbox="allow-forms allow-popups allow-scripts allow-same-origin"
          width="100%"
          height="1000px"
          frameborder="0">
        </iframe>
      </div>
    </div>
  </Container>
</Layout>
<Container />

<script type="text/javascript">
  window.$crisp = [];
  window.CRISP_WEBSITE_ID = "727a3632-d1bc-44a3-9179-65f86310a145";
  (function () {
    d = document;
    s = d.createElement("script");
    s.src = "https://client.crisp.chat/l.js";
    s.async = 1;
    d.getElementsByTagName("head")[0].appendChild(s);
  })();
</script>

<style>
  p {
    margin: 1rem 0;
  }
</style>
