---
import lyke from "@assets/lyke.png";
import max from "@assets/max.png";
import luigi from "@assets/luigi.png";
---

<div class="text-left mt-16 mb-4">
  <section class="bg-white dark:bg-gray-900">
    <div class="py-8 lg:py-16 px-4 mx-auto max-w-screen-md">
      <h2
        class="mb-4 text-4xl tracking-tight font-extrabold text-center text-gray-900 dark:text-white">
        Contattaci
      </h2>
      <p
        class="font-light text-center text-gray-500 dark:text-gray-400 sm:text-xl">
        Saremo lieti di ricevere ed analizzare la vostra richiesta di
        informazioni, proposta digitale o domanda tecnica.
      </p>
    </div>
    <div class="mt-4">
      <iframe
        title="Contact Form"
        src="https://plugins.crisp.chat/urn:crisp.im:contact-form:0/contact/727a3632-d1bc-44a3-9179-65f86310a145"
        referrerpolicy="origin"
        sandbox="allow-forms allow-popups allow-scripts allow-same-origin"
        width="100%"
        height="700px"
        frameborder="0">
      </iframe>
    </div>
  </section>
</div>
