---
import { Picture } from "astro:assets";
import heroImage from "assets/hero.png";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon/components";
---

<div class="text-center my-24">
  <h1
    class="text-3xl lg:text-4xl xl:text-5xl font-bold lg:tracking-tight xl:tracking-tighter">
    <span class="text-indigo-600">Northsouth</span>
  </h1>
  <h1
    class="text-3xl lg:text-4xl xl:text-5xl font-bold lg:tracking-tight xl:tracking-tighter">
    Soluzioni digitali a 360 gradi.
  </h1>
  <p class="text-lg mt-4 text-slate-600 mb-4">
    Northsouth fa crescere la tua iniziativa digitale <br/> in modo da farti preservare risorse.<br />
  </p>

</div>
