---
import { getCollection } from "astro:content";
import ale from "@assets/ale.png";
import zunini from "@assets/zunini.png";
import john from "@assets/john.png";

import { getLangFromUrl, useTranslations } from "../i18n/utils"
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

// Filter team entries with 'draft: false' & date before current date
const publishedTeamMembers = await getCollection("team", ({ data }) => {
  return !data.draft && data.publishDate < new Date();
});
---

<section class="relative isolate overflow-hidden bg-white px-6 pb-6 lg:px-8">
  <div
    class="absolute inset-0 -z-10 bg-[radial-gradient(45rem_50rem_at_top,theme(colors.indigo.100),white)] opacity-20">
  </div>
  <div
    class="absolute inset-y-0 right-1/2 -z-10 mr-16 w-[200%] origin-bottom-left skew-x-[-30deg] bg-white shadow-xl shadow-indigo-600/10 ring-1 ring-indigo-50 sm:mr-28 lg:mr-0 xl:mr-16 xl:origin-center">
  </div>
  <div class="mx-auto max-w-2xl lg:max-w-4xl">
    <img class="mx-auto h-12 opacity-50" />
    <div class="text-center lg:my-48 md:my-12 sm:my-12">
      <h1
        class="text-3xl lg:text-4xl xl:text-5xl font-bold lg:tracking-tight xl:tracking-tighter">
        <span class="text-indigo-600">Northsouth</span>
      </h1>
      <h1
        class="mt-4 text-3xl lg:text-4xl xl:text-5xl font-bold lg:tracking-tight xl:tracking-tighter">
        { t("hero.headline")}
      </h1>
      <p
        class="mt-8 font-light text-center text-gray-500 dark:text-gray-400 sm:text-xl">
        { t("hero.tagline")}<br />
      </p>
      <div class="-space-x-2 mt-8">
        <img
          class="inline-block size-[46px] rounded-full ring-2 ring-white dark:ring-neutral-900"
          src={zunini.src}
          alt="Avatar"
        />
        <img
          class="inline-block size-[46px] rounded-full ring-2 ring-white dark:ring-neutral-900"
          src={john.src}
          alt="Avatar"
        />
        <img
          class="inline-block size-[46px] rounded-full ring-2 ring-white dark:ring-neutral-900"
          src={ale.src}
          alt="Avatar"
        />
      </div>
    </div>
  </div>
</section>
