---
// @ts-ignore
import { getLangFromUrl, useTranslations } from "../i18n/utils"
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const services = [
  {
    type: "Solutions",
    services: ["web", "e-shop", "cms", "erp"],
    link: "/solutions",
    color: "black",
    description: t("services.solutions.description"),
    icon: "bx:bxs-briefcase",
  },
  {
    type: "Strategy",
    services: [t("services.strategy.strategy"), t("services.strategy.content"), "UX"],
    link: "/strategy",
    color: "#0067a6",
    description: t("services.strategy.description"),
    icon: "bx:bxs-window-alt",
  },
  {
    type: "Knowledge",
    services: [t("services.knowledge.knowledge-management"), t("services.knowledge.workshops")],
    link: "/knowledge",
    color: "#0900a6",
    description: t("services.knowledge.description"),
    icon: "bx:bxs-window-alt",
  },
];
---

<div>
  <div class="flex flex-col gap-3 mx-auto max-w-4xl">
    <h2
      class="mb-4 text-4xl tracking-tight font-extrabold text-center text-gray-900 dark:text-white">
      {t("services.title")}
    </h2>
  </div>
  <div class="grid sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 mt-8 gap-16">
    {
      services.map((service) => (
        <a
          style={{ backgroundColor: service.color }}
          href={service.link}
          class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-500 place-self-center">
          <h5 class="mb-2 text-2xl font-bold tracking-tight text-white dark:text-white">
            Northsouth<span class="font-thin"> {service.type}</span>
          </h5>
          <div class="my-4">
            {service.services.map((service) => (
              <span class="inline-flex items-center rounded-md bg-blue-50 px-4 py-1 mb-2 mr-2 text-sm font-medium text-blue-700 ring-1 ring-inset ring-blue-700/10">
                {service}
              </span>
            ))}
          </div>
          <span class="text-gray-300">{service.description}</span>
        </a>
      ))
    }
  </div>
</div>
